
<app-header ></app-header>
        <!-- Start Page Title Area -->


       
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h2>Orders</h2>

                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>My Orders</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Contact Area -->


         
        <section class="contact-area ptb-120">
            <div class="card-body pt-4">
                <div class="card-body pt-2">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">

                        <a class="navbar-brand" href="#">      </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav">
                            <li class="nav-item active">
                              <a class="nav-link"  routerLink="/order">order List<span class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                              
                              <a class="nav-link" routerLink="/createorder">Create order</a>
                            </li>

                          </ul>

                        </div>
                        <input  type="text" id="myFilter" class="form-control" placeholder="search for an order" [(ngModel)]="ch">                         

                      </nav>                </div>
                
            <div class="container mt-5 mb-3">
                <div class="row">
                    <div class="col-md-4" *ngFor="let ph of orders |filter:ch ">
                    <div class="col-sm-6">
                      <div class="card text-center shadow px-13 py-6" style="width: 18rem;
                      background-color: white;
                      border: 1px solid #E6E6E6;
                      filter: drop-shadow(-10px -10px 30px #FFFFFF),
                       drop-shadow(4px 4px 20px rgba(174, 174, 192, 0.2));
                      border-radius: 10px;
                      margin-bottom: 15px;
                      width: 100%;
                      clear: both;
                      box-shadow: 10px 10px 5px lightblue;
                     ">
                        <div class="card-body ">
                            <img src="assets\img\med.png" style="width: 25%;height: 25%; "alt="image"> 
                          <h5 class="card-title">{{ph.orderItems}}</h5>
                          <img src="assets\img\qte.png" style="width: 25%;height: 25%; "alt="image"> 

                          <p class="card-text">{{ph.qte}}</p>
                  
                       <a  (click) = "deleteorder(ph.idOrder)" class="btn btn-primary">Delete</a>
                  
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
            
            </div>
  <!-- End Ccontainer-->
        </section>
        <!-- Start Contact Area -->
       
<app-footer></app-footer>
